@media (max-width:750px){
  .product-gallery{
    flex-direction: column !important;
    align-items: center !important;
  }

  .product-card
  {
    width: 70% !important;
  }

  .product-name,.product-description{
    font-size: clamp(16px,1vw,18px) !important;
  }

  .product-price{
    font-size: clamp(20px,1.3vw,24px) !important;
  }
}


.product-gallery {
    display: flex;
    gap:2.56vw;
    width: 100%
  }


.product-description,.product-name,.product-price{
  width: 100% !important;
  text-align: left;
}
  
  .product-card {
    width: 23%;
    overflow: hidden;
  }
  

  .product-image {
    width: 100%;
    object-fit: cover;
  }
  

  
  .product-name {
    font-size: clamp(12.3px,.7vw,14px);
    font-weight: 600;
    line-height: 17.07px;
    text-align: left;
    margin: 0 0 8px;
  }
  
  .product-description {
    font-size: clamp(12.3px,.7vw,14px);
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    margin: 0 0 16px;
  }
  
  .product-price {
    font-size: clamp(14px,.9vw,16px);
    color: #000;
    font-weight: bold;
  }
  