.EmptyPage{
    padding-left: 11.2vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.empty-img{
    width: 30%;
    height: 100px;
    margin-inline: auto;
    margin-top: 70px;
    margin-bottom: 138.83px;
    align-self: center;
}