@media(max-width:1200px){
    .underTitle{
        width: 90% !important;
        text-align: center;
    }
}

@media(max-width:1000px){
    .underTitle{
        text-align: center;
        margin-inline: auto !important;
    }
}

@media(max-width:650px){
    .underTitle{
        text-align: center;
    }
}



.AllPage{
    width: 100% !important;
    font-family: 'Montserrat';

}


.Products{
    padding-inline: 10% !important;
    padding-bottom: 80px;
}

#moreCategories
{
    height: 1vw;
    margin-top: 1.1vw;
    text-align: start;
}
.underTitle
{
    margin-top: 1vw;
    font-size:14px;
    font-weight: 400;
    line-height: 17.07px;
    width: 45%;
    text-align: left;
}

