@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


body
{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    padding-inline: 10vw;
}

#moreCategories
{
    width: 461px;
    height: 17px;
    margin-top: 20px;
    text-align: start;
}
.underTitle
{
    margin-top: 20px;
    font-size:14px;
    width:697px;
    text-align: start;
}

