@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-43.5%);
    }
}
.header-comp{
    opacity: 1 !important;
}

.hashtag {
    background-color: var(--add-grey);
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    word-spacing: 66px;
    text-align: left;
    position: relative;
    white-space: nowrap;
    width: fit-content; 
    height: 40px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hashtag > span {
    animation: scroll 15s linear infinite; 
    display: inline-block;
    white-space: nowrap;
}

a:-webkit-any-link {
    text-decoration: none;
    color:var(--header-grey);
}




.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 69px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: center;
    color: var(--header-grey);
}

.header-firstpart {
    display: flex;
    gap: 40px;
    width: fit-content;
    margin-right: auto;
    margin-left: 94px;
}

.header-secondpart {
    display: flex;
    gap: 40px;
    width: fit-content;
    margin-left: auto;
    margin-right: 124px;
}


.header-text{
    padding: 10px;
}

.menu{
    left: 94px;
    text-align: center;
}

.logo{
    width: 112px;
    height: 36px;
    margin-left: 20px;
    top: 53px;
    left: 180px;

}

.symbol{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.text-and-img{
    display: flex;
    align-items: center;
}


.basket{
    width: 20px;
    height: 18px;
    margin-right: -20px;
}

.search-div{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    margin-inline: auto;
    width: 1271px;
    height: 50px;
}

.search-img{
    position: relative;
    width: 30px;
    height: 30px;
    left: 45px;
    top:25px;
}

.search-img img{
    width: 100%;
    height: 100%;
}

.search-bar{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding-left: 50px;
}

.search-bar::placeholder{
    font-size: 14px;
    font-family: "Roboto", sans-serif;;
    position: relative;
    color: var(--placeholder-grey);
    font-weight: 500;
}
