@media (max-width:1350px){
    .IdeaCard{
        width: 90% !important;
        margin: 0 auto;
    }

    .idea-title-part{
        height: 6vh !important;
    }
}

.IdeaCard {
    height: fit-content;
    width: 30%;
    border-radius: 15px;
}

.idea-image-part {
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
}

.idea-title-part {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.1vw;
    font-size: clamp(19.11px,1.8vw,24px);
    font-weight: 500;
    line-height: 29.26px;
    background-color: var(--rect-card-grey);
    border-radius: 0 0 15px 15px;
}

span{
    margin: 0 auto;
}
