@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --black-color:  #1F1F1F;
    --label-black:#000000;
    --form-grey:#646464;
    --header-grey:#5F5F5F;
    --add-grey:#839D9A;
    --placeholder-grey:#B4B4B4;
    --offer-card-green:#839D9A;
    --rect-card-grey:#B6C3C2;
    --add-set-grey:#F2F2F2;
}

* {
    scroll-behavior: smooth !important;
}

