
.Page{
    width:100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
}

img#go-back{
    margin-top: 3vw;
    margin-left: 2vw;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

small{
    display: block;
    margin-top: 10px;
    color: var(--form-grey);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    text-align: left;
    width: 21.69vw;
    height: 42px;
}



form{
    display: flex;
    flex-direction: column;
    width: 21.94vw;
}

label{
    font-size: 14px;
    font-weight: bold;
    line-height: 17.07px;
    text-align: left;
    color: var(--label-black)
}

input {
    display: block;
    width: 21.84vw;
    padding-left: .5vw;
    height: 50px;   
    margin-top: 11.5px;
    border-radius: 5px;
    border: 1px solid var(--form-grey)
}



button:hover{
    cursor: pointer;
}

.grey-label{
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    color:var(--form-grey);
    margin-left: 20px;
}

#save-label,input[type="checkbox" i]{
    display: inline;
}

.password-input
{
    width: 23vw;
}




.password-input{
    display: flex;
    flex-direction: row;
}

#show-password{
    position: relative;
    top:30px;
    right: 40px;
    width: 22px;
    height: 15px;
}