@media (max-width:428px){
    .Catalogue{
        column-gap: 106px !important;
        row-gap: 0px !important; 
        width: 100% !important;
    }

    .one-image{
        width: 133px !important;
    }

    .image-label{
        padding-block: 0 !important;
        font-size: 11.56px !important;
        font-weight: bold !important;
    }
}


.Catalogue{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 103px;
    width: 1500px;
}

.one-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 14px;
    width: fit-content;
}

.one-image img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
    width: auto; 
    height: auto; 
}

.image-label {
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    text-align: center;
    margin-top: 0.38px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding-inline: 9px;
    padding-block: 20px;
    box-sizing: border-box;
}
