

.info_box{
    width: 1480;
    height: 595;
    position: absolute;
}

.info_image{
    width: 939px;
height: 595px;
top: 0px;
left: 0px;
gap: 0px;
border-radius: 15px 0px 0px 15px;
opacity: 0px;
}

.info_background{
    width: 541px;
height: 595px;
top:0px;
left: 939px;
gap: 0px;
border-radius: 0px 15px 15px 0px;
opacity: 0px;
background: #F2F2F2;
position: absolute;
}

.info_text{
    width: Hug (541px)px;
height: Hug (255px)px;
padding: 80px 40px 80px 40px;
top: 0px;
left: 0px;
gap: 10px;
opacity: 0px;
}

.info_name{
    font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29.26px;
text-align: left;

}