.gallery
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 36px;
    row-gap:1vw;
    justify-content: space-between;
}


@media (max-width:700px){
    .gallery
    {
        flex-direction: column !important;
        height: fit-content !important;
        
    }
    .gallery-one-image
    {
        width: 100% !important;
        height: 30vh !important;
    }
}