

.gallery
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 36px;
    row-gap:20px;
    column-gap: 2%;
}

@media (max-width:700px){
    .gallery
    {
        flex-direction: column;
        
    }
    .gallery-one-image
    {
        width: 100% !important;
    }
}