#features
{
    margin-top: 80px;
    width: 100%;
    display: flex;
    gap:10px;
    
}
.features-frame
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 369px;
    height: 100%;
    background-color: #F1F1F1;
    font-size:14px;
    padding-bottom: 35px;
    padding-top: 29px;
}
.features-frame h1
{
    margin-top: 10px;
    font-size:14px ;
}
.features-frame h2
{
    width: 237px;
    font-size:14px ;
    font-weight: 400;
    margin-inline:auto ;
    text-align: center;
    margin-top: 0;
}