@media (max-width:1000px){
    .advice-cards-div{
        flex-direction: column !important;
        gap:60px !important;
    }

    .shadow-card-div{
        width: 90% !important;
    }
}

@media (max-width:900px){
    #under-cards-div{
        width: 100% !important;
    }

    #under-cards-div p{
        width: 80% !important;
    }
}


.DesignPage {
    font-family: 'Montserrat', sans-serif;
}

#DesignBackPart {
    position: relative;
    width: 100%; 
    height: fit-content; 
    background: 
    linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 36.46%, rgba(255, 255, 255, 0.3) 89.58%), 
    url('./assets/Main.jpeg');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#CreateDesignTitle{
    margin-top: 57px;
    width: 100%;
    margin-inline: auto;
    font-size: clamp(43.16px,6vw,96px);
    font-weight: 600;
    line-height:52.63px;
    text-align: center;
}

.shadow-card-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-top: 57px;
    margin-inline:auto;
}

#under-cards-div{
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: fit-content;
    margin-inline:auto;
    text-align: center;
    padding-inline: 7.2vw;
    padding-bottom: 91px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.87) 36.46%, #FFFFFF 89.58%);
}

#under-cards-div h2{
    text-transform:uppercase;
    font-size: 24px;
    font-weight: bold;
    line-height: 29.26px;
    text-align: center;
}

#under-cards-div p{
    width: 28.71vw;
    text-align: center;
    font-size: clamp(10.27px,.8vw,14px);
    font-weight: 400;
    line-height: 17.07px;
    text-align: center;
}


#DesignMainPart{
    padding-inline: 8%;
    background-color: white;
}

.advice-cards-div{
    margin-block: 80px;
    display: flex;
    flex-direction: row;
    gap:1vw;
}


