.idea_name{
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-align: left;
    position: absolute;
    width: Fixed (559px)px;
height: Fixed (50px)px;
top: 4793px;
left: 221px;
padding: 10px 10px 10px 0px;
gap: 10px;
opacity: 0px;

}

.idea_button{

}

.idea_image1{

    top: 0px;
    left: 0px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    border-radius: 15px ;
}

.idea_image2{
    width: 480px;
height: 439px;
top: 0px;
left: 250px;
gap: 0px;
opacity: 0px;
position: absolute;
border-radius: 15px ;
}

.idea_image3{
    width: 480px;
height: 595px;
top: 0px;
left: 500px;
gap: 0px;
opacity: 0px;
position: absolute;
border-radius: 15px ;
}

.idea_image4{
    width: 480px;
height: 439px;
top: 310px;
left: 0px;
gap: 0px;
opacity: 0px;
position: absolute;
border-radius: 15px ;
}

.idea_image5{
    width: 480px;
height: 595px;
top: 230px;
left: 250px;
gap: 0px;
opacity: 0px;
position: absolute;
border-radius: 15px ;
}

.idea_image6{
    width: 480px;
height: 439px;
top: 310px;
left: 500px;
gap: 0px;
opacity: 0px;
position: absolute;
border-radius: 15px ;
}

.idea{

top: 4863px;
left: 220px;

position: absolute;

}