
#ImagePart{
    width: 590px;
    height: 1343px;
    margin-top: -3px;
    background: url(./assets/MainImage.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.reg-label{
    margin-bottom: 30px;
}


#FormPart{
    margin-left: 156px;
    margin-top: 92px;
}


#save-data-div{
    margin-top: 30px;
    margin-bottom: 20px;
}

#registration-label{
    width: 100% !important;
}


input[type="checkbox" i]{
    width: 42.2px !important;
    height: 24px !important;
}