@media (max-width:1350px){
    .IdeaCards{
        flex-direction: column !important;
        gap:1vw !important;
    }
}

.Idea_Page{
    font-family: 'Montserrat', sans-serif;
    padding-inline:8%;
}


.IdeaCards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.ImagesRow{
    display: flex;
    flex-direction: row;
}