@media (max-width:1200px){
    .title{
        margin-top: 10vw !important;
        margin-bottom: 3vw !important;
    }
}

@media (max-width:850px){
    .title{
        margin-inline: auto;
        width: fit-content !important;
    }
}

.title
{
    font-family: "Montserrat";
    font-weight: 600;
    margin-top: 4.6vw;
    margin-bottom: 1.56vw;
    font-size: clamp(16px,1.2vw,24px);
    text-align: start;
    font-weight: 600;
    line-height: 29.26px;
    text-align: left;
    text-transform: uppercase;
}