.title
{
    font-family: "Montserrat";
    font-weight: 600;
    margin-top: 90.5px;
    margin-bottom: 30.5px;
    font-size: 24px;
    text-align: start;
    font-weight: 600;
    line-height: 29.26px;
    text-align: left;
}