@media (max-width:428px){
    .title{
        font-size: 16.01px !important;
        font-weight: 600 !important;
        line-height: 19.52px !important;
        text-align: center !important;
        margin-top: 86.68px !important;
        margin-bottom: 26.68px !important;
    }
    
}

.title
{
    font-family: "Montserrat";
    font-weight: 600;
    margin-top: 90.5px;
    margin-bottom: 30.5px;
    font-size: 24px;
    text-align: start;
    font-weight: 600;
    line-height: 29.26px;
    text-align: left;
    text-transform: uppercase;
}