.Additional{
    display: flex;
    gap:1vw;
}

.one-set{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: var(--add-set-grey);
    border-radius: 30px;
    width: 8.25vw;
    height: 2.5vw;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    text-align: center;
    margin-bottom: 1vw;
}