@media (max-width:1150px){
    .RectCard{
        width: 100% !important;
        height: 40% !important;
    }

    .image-part{
        height: 15em !important;
    }

    .title-part{
        height: 5vh !important;
    }
    
}

.RectCard {
    height: 40vh;
    border-radius: 15px;
    width: 50%;
    max-height: 771px;
}

.image-part {
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
}

.title-part {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 80px;
    font-weight: 500;
    line-height: 29.26px;
    background-color: var(--rect-card-grey);
    border-radius: 0 0 15px 15px;
}

.title-span{
    margin: 0 auto;
    font-weight: bold;
    font-size: clamp(14.3px, 1.25vw,24px);
}

.title-part img {
    width: 40px;
    height: 40px;
    position: relative;
    right: 25px;
    rotate: 180deg;
}

