.Important{
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}
.image{
    object-fit: cover;
}

.text{
    padding-block: 80px;
    padding-inline:40px;
    width: 541px;
    height: 435px;
    border-radius: 0 15px 15px 0;
    background-color: var(--add-set-grey);
}

.text h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-align: left;
}

.text span{
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
}

.Important img {
    width: 939px; 
    height: 595px;
    border-radius: 15px 0 0 15px;
}
