@media (max-width:428px){
    .Important{
        flex-direction: column !important;
        
    }

    .important-img{
        width: 361px !important;
        height: 411px !important;
        border-radius: 15px 15px 0px 0px !important;

    }

    .text{
        width: 361px !important;
        padding-top: 74px !important;
        text-align: center !important;
        border-radius: 0px 0px 15px 15px !important;
        
    }
    .text h1{
        text-align: center !important;
        width: 100% !important;
        font-size: 17.6px !important;
        font-weight: 600 !important;
        line-height: 21.45px !important;
    }
    .text span{
        font-size: 10.27px !important;
        font-weight: 400 !important;
        line-height: 12.52px !important;
    }
}


.Important{
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}
.image{
    object-fit: cover;
    width: fit-content;
}

.text {
    padding-block: 80px;
    padding-inline: 40px;
    width: 541px;
    border-radius: 0 15px 15px 0;
    background-color: var(--add-set-grey);
}


.text h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-align: left;
}

.text span{
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    
}

.Important img {
    width: 939px; 
    height: 595px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}
