@media (max-width:1144px){
    .rect-cards{
        flex-direction: column;
        gap:20px !important;
    }
    #big-rect-card{
        height: 23vh !important;
    }
}

@media(max-width:750px){
    #create-and-catalogue{
        flex-direction: column !important;
        gap:20px !important
    }

    #main-page-220px{
        margin-inline:auto !important;
        width: 80% !important;
    }

    #main-page-black-button,#catalogue-button{
        width: 94% !important; 
    }

    #card-offers{
        margin-top: 5% !important;
        margin-left: 0 !important;
        width: 100% !important;
    }

    .add-recs-display{
        display: none !important;
    }
}

@media (max-width:600px){
    #card-offers{
        margin-top: 15% !important;
    }
}

@media (max-width: 428px) {

    .add-recs-display{
        display: none !important;
    }
    
}






.MainPage {
   
    font-family: 'Montserrat', sans-serif;
}

#MainPagePhotoPart{
    width:100%;
    height: 1026px;
    background-image: url('./Assets/main_page.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}
.all-for-home {
    width: fit-content;
    text-align: center;
    font-size: clamp(43.17px, 6vw, 96px);
    font-weight: 600;
    line-height: 117.02px;
    margin-inline: auto;
    margin-top: 5.5vh;
    margin-bottom: 12.7vh;
}


#main-page-black-button{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

#main-page-220px{
    display: flex;
    flex-direction: column;
    margin-left: 9%;
    margin-block: 0;
}
#create-and-catalogue{
    display: flex;
    flex-direction: row;
    gap:52px;
}

#card-offers{
    display: flex;
    flex-direction: row;
    gap:5%;
    margin-top: 2%;
    height: 30%;
    width: 65%;
}

#under-card-offers{
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    margin-top: 15px;
}


#MainPageOtherPart{
    padding-inline: 9%;
}


.rect-cards{
    display: flex;
    justify-content: flex-start;
    gap:2%;
    height: fit-content;
}


#big-rect-card{
    display: flex;
    flex-direction: row;
    margin-top: 17px;
    width: 100%;
    height: 30vh;
}

#big-rect-card-image{
    width: 100%;
    border-radius: 15px 0 0 15px;
    background-image: url(./Assets/BigRectCard.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#big-rect-card-bar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
    width: 9%;
    background-color: var(--rect-card-grey);
}

#big-rect-card-bar img{
    width: 3vw;
    rotate: 180deg;
}
